/* This styles the overall pet category page */
.pets-categories {
  display: grid;
  grid-template-columns: 1fr 300px; /* pet cards will take the available space and add pet button has fixed width */
  gap: 1rem;
  padding: 1rem;
}

.search-and-filter {
  grid-column: 1 / -1; /* The search bar spans all columns */
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.pet-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

/* Styling for PetCard.jsx */
.pet-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.pet-card-image-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.pet-card-image-container:hover .button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
  font-weight: bold;
}

.button-container button.active,
.button-container button:hover {
  background-color: #367c2b;
}

.pet-card-content {
  padding: 1rem;
  text-align: center;
}

.pet-name {
  font-size: 1.2rem;
  margin: 0;
}

.status-indicator {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  background-color: #ccc;
  color: white;
}

.status-indicator.available {
  background-color: #4caf50;
}

.status-indicator.adopted {
  background-color: #f44336;
}

/* Styling for AddPet.jsx */
.add-pet-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.add-pet-button,
.add-pet-form button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-pet-form button {
  background-color: #f44336;
}

.add-pet-form {
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: flex-end;
}

.add-pet-container .add-pet-form.visible {
  display: flex;
}
.add-pet-container .add-pet-form {
  display: flex;
}

.add-pet-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Full width of the form */
}

.chat-icon {
  /* Style as needed */
  cursor: pointer;
  margin-left: 10px;
}

/* If you have specific styles for the 'Cancel' button, add them here. */
